*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc0
# don't ignore *.pdf because this ignores also all pdf files you'll include
*.out
*.synctex.gz
*.toc
*.xdy
.DS_Store
index.pdf
